<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <%= pluralize(@user.posts.count, 'post') %>,
          <%= pluralize(@user.comments.count, 'comment') %>,
          <%= pluralize(@user.favorites.count, 'favorites') %>
        </small>
      </div>
    </div>
  </div>
</div>
<div class="float-right-main">
  <h2>Favorites</h2>
    <% if has_favorites?(@user) %>
      <% @user.favorites.each do |post| %>
        <div class="float-right media">
          <a class="pull-right">
            <%= render partial: 'votes/voter', locals: { post: post.post } %>
          </a>
          <div class="media-body">
            <h4 class="media">
              <%= image_tag post.user.avatar_url(20), class: "gravatar" %>
              <%= link_to post.post.title, topic_post_path(@user, post) %>
            </h4>
          </div>
            <small class="media">
              submitted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.name %> <br>
              <%= post.post.comments.count %> Comments
            </small>
        </div>
      <% end %>
    <% else %>
      <%= "#{current_user.name} has not favorited any posts yet." %>
    <% end %>
</div>
<div class="float-left">
  <h2>Posts</h2>
  <% if has_post?(@user) %>
    <%= render @user.posts %>
  <% else %>
    <%= "#{current_user.name} has not submitted any posts yet." %>
  <% end %>
  <br>
  <h2>Comments</h2>
  <% if has_comment?(@user) %>
    <%= render @user.comments %>
  <% else %>
    <%= "#{current_user.name} has not submitted any comments yet." %>
  <% end %>
</div>
